


<mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
            <app-side-nav (sidenavToggle) ="sidenav.toggle()"></app-side-nav>
        </mat-sidenav>
        <mat-sidenav-content>
              
                  <mat-toolbar class="Toolbar">
                      
                    <app-top-nav (sidenavToggle) ="sidenav.toggle()"></app-top-nav>
                  </mat-toolbar>
                   <main> 
                         <router-outlet></router-outlet>   
                   </main>
        </mat-sidenav-content>
      </mat-sidenav-container>
